<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <head>Title</head>

    <body>

        <h2 th:text="${name}"></h2>
        <h2 th:text="${course}"></h2>
        <h2 th:text="${subject}"></h2>

        <h2 th:text="${student_id_1}"></h2>
        <h2 th:text="${student_id_2}"></h2>
        <h2 th:text="${student_id_3}"></h2>
        <h2 th:text="${student_id_4}"></h2>

        <h2 th:text="${myId}"></h2>

        <h2 th:text="${numbers}"></h2>
        <h2 th:text="${numbers.get(3)}"></h2>

        <h2 th:text="${student.getFirstName()}"></h2>
        <h2 th:text="${student.getLastName}"></h2>




    </body>

</html>