<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<!--    bringing data from external source (messages.properties)-->
    <title th:text="#{index.page.title}">Title</title>
</head>

<body>
<h2>Welcome new student</h2>

<!--Thymeleaf expressions-->

<!--Displaying value-->
<h2 th:text="${students.get(0).firstName}"/>
<h2 th:text="${students.get(0).lastName}"/>

<!--Concatenation-->
<h2 th:text="${'First Name: ' + students.get(1).firstName}"></h2>
<h2 th:text="'Last Name: ' + ${students.get(1).lastName}"></h2>

<!--Links-->
<a th:href="@{https://cydeo.com}">Cydeo Home Page</a>
<br> <br>
<a th:href="@{/student/welcome}">Welcome page</a>
<br> <br>
<!--Adding Parameter to Link-->
<a th:href="@{/student/welcome(id=3)}">Link with Parameter</a>

<br> <br>
<!--Dynamic parameter-->
<a th:href="@{/student/welcome(id=${students.get(0).firstName})}">Dynamic Link with Parameter</a>

<!--iteration-->
<h2>Students first name</h2>
<ul>
    <li th:each="student : ${students}" th:text="${student.firstName}">names</li>
</ul>

<!--fragments-->
<div th:replace="/fragments/index::main-menu"></div>
<br> <br>
<div th:replace="/fragments/index::footer-menu"></div>

<!--conditional logic-->
<div th:text="${students.get(0).age > 25 ? 'Eligible': 'Not Eligible'}"></div>

<div>
<!--    if the first condition is true it will be executed, otherwise the second condition will be executed-->
    <span th:if="${students.get(0).getState() == 'Arizona'}">Arizona</span>
    <span th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>
</div>


</body>

</html>